<div class="footer">

  <div class="links">

     <a href="https://www.wallgate.com/" target="_blank" class="footer-links"><i class="fas fa-location-arrow"></i> WALLGATE</a>
     <a href="https://www.kingswaygroup.co.uk/" target="_blank" class="footer-links"><i class="fas fa-location-arrow"></i> KINGSWAY</a>
     <a href="https://decoustics.com/" target="_blank" class="footer-links"><i class="fas fa-location-arrow"></i> DECOUSTICS</a>

  </div>

  <div class="footer-copyright">
  Juliette Bayard
  </div>


</div>
