<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/DML_logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <%= link_to "Wallgate", "/wallgate.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Kingsway", "/kingsway.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Decoustics", "/decoustics.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contacts", "/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>

  </div>
</div>
