<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/DML_logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Wallgate</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Kingsway</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Decoustics</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contacts</a>
  </div>
</div>
