.card {
  position: relative;
  background: white;
  background-image: linear-gradient(black, 0.2);
  background-size: cover;
  border-radius: 4px;
  color: white;
  margin-top: 30px;
  width: 350px;
  height: 400px;
  &:hover {
    margin-top: 3px;
    box-shadow: 4px 4px 1px 1px rgba(184,184,184,1);
    transition: all 0.8s ease;
  }
}

.card-content {
  background-color: white;
  opacity: 0.8;
  display: flex;
  opacity: 0.7;
  height: 90px;
  justify-content: center;
  h3 {
    color: $blue;
  }
}

.card-contact {
  width: 500px;
  height: 300px;
  border-radius: 4px;
  margin: 20px;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
}
.card-content-contact {
  width: 500px;
  height:300px;

  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 20px;
  margin-top: 20px;
  text-align: left;
  p {
    color: #3d3434;
    opacity: 1;
  }
  h3 {
    color: $blue;
  }
}
.marge {
margin-left: 2em;
}
