.card {
  position: relative;
  background: white;
  background-image: linear-gradient(black, 0.2);
  background-size: cover;
  color: white;
  border-radius: 6px;
  margin-top: 30px;
  width: 350px;
  height: 400px;
  transform: perspective(1px) translateZ(0);
  transition-property: transform;
  transition-duration: 0.3s;
  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: translateY(-8px);
  }
}

// cards de la home page
.card-content {
  background-color: white;
  opacity: 0.8;
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  padding: 10px;

  h3, h5, h6 {
    color: $blue;
    margin: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.card-product {
  background-color: white;
  opacity: 0.8;
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  padding: 10px;
}

.card-contact {
  width: 500px;
  height: 300px;
  border-radius: 4px;
  background-size: cover;
  margin: auto;

}

.card-content-contact {
  width: 500px;
  height:300px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 20px;
  margin-top: 20px;
  text-align: left;
  p {
    color: #3d3434;
    opacity: 1;
  }
  h3 {
    color: $blue;
  }
}
.marge {
margin-left: 2em;
}

// cards produits page Wallgate
.card-wallgate {
  position: relative;
  background: white;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 15px;
  width: 350px;
}

.card-description{
  background-color: white;
  opacity: 0.8;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin: 0;
  padding-top: 20px;
}

.card-image {
  background-image: linear-gradient(black, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
  background-position: center;
}

.card-button {
  height: 60px;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 5px;
}

.img__description {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  top: 40px;
  bottom: 60px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.72);
  color: $blue;
  font-size: 14px;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  // box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-wallgate:hover .img__description {
  visibility: visible;
  opacity: 1;
}
// Ce qui contient le logo Wallgate & la description page Wallgate

.wallgate-presentation {
  display: flex;
}

// logo Wallgate page Wallgate
.card-wallgate-logo {
width: 500px;
height: 100px;
margin-top: 20px;
margin-right: 20px;
display: flex;
border-radius: 10px;
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

// Description Wallgate à côté du logo
.wallgate-desription {
  background-color: white;
  color: $blue;
  height: 100px;
  border-radius: 6px;
  width: 500px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

// Les categories

.category {
  background-color: $blue;
  color: white;
  border-radius: 6px;
  width: 470px;
  padding: 10px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: left;
  h6 {
    display: inline;
    font-weight: lighter;
  }
}

