.container {
  margin-top: 70px;
  margin-bottom: 100px;
  h2 {
    color: $blue;
    opacity: 0.8;
  }
  background-color: transparent;
}


.container-contact {
  width: 100%;
  height: -webkit-fill-available;
  background-image: url(/images/Decoustics/Solo.jpg);
  // background-size: cover;
  background-attachment: fixed;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: inline-flex;
h3 {
  color: $blue;
}
}

.logo {
  border-radius: 3px;
  display: flex;
  align-items: left;
}

//pour faire un tab sur l'adresse dans la page contact
.marge {
margin-left: 18px;
}
