.container {
  margin-top: 70px;
  margin-bottom: 100px;
  h2 {
    color: $blue;
    opacity: 0.8;
  }
}

#background {
  width: 100%;
  background-size: cover;
}

.title {
  display: inline-flex;
h3 {
  color: $blue;
}
}

.logo {
  border-radius: 3px;
  display: flex;
  align-items: left;
}
