<div class="container text-center">
  <div class="container-contact">
    <h2>Prendre contact</h2>
    <div class="card-contact" style="background-image:url(images/Decoustics/plafond-fond-2.jpg)">
      <div class="card-content-contact">
        <h3>Didier Bayard</h3>
        <p> <i class="fas fa-envelope"></i>  didier.bayard@dml-entreprises.com</p>
          <p class="marge">ou info@dml-entreprises.com</p>
        <p> <i class="fas fa-phone"></i> 06.82.40.12.08</p>
        <p> <i class="fas fa-map-marker-alt"></i> 19 rue Pierre Marcou</p>
        <p>86220 Ingrandes-sur-vienne</p>
      </div>
    </div>
  </div>

</div>
