
  <div class="container-contact container text-center">

    <div class="card-contact">
      <div class="card-content-contact">
        <h3>Didier Bayard</h3>
        <p> <i class="fas fa-envelope"></i>  didier.bayard@dml-entreprises.com</p>
          <p class="marge">ou info@dml-entreprises.com</p>
        <p> <i class="fas fa-phone"></i> 06.82.40.12.08</p>
        <p> <i class="fas fa-map-marker-alt"></i> 19 rue Pierre Marcou</p>
        <p class="marge"> 86220 Ingrandes-sur-vienne</p>
      </div>
    </div>

  </div>

