<div class="container text-center">

  <div class="entreprise-presentation">
    <img src="images/Decoustics/logo-decoustics-HQ.jpg" class="card-entreprise-logo">
    <p class="entreprise-description">Depuis 1975, Decoustics est le leader international de la conception, de l’ingénierie et de la fabrication sur mesure de panneaux de plafond acoustiques à haute performance et de panneaux muraux.
    </p>
  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Plafonds acoustiques <i></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">LightFrame®</h4>
        <p class="img__description">Panneaux acoustiques translucides rétro-éclairés </p>

        <div class="card-image img-card" style="background-image:url(images/Decoustics/Lightframe.jpg)">
        </div>

        <div class="card-button">
          <a href="https://decoustics.com/products/lightframe/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Solo</h4>
        <p class="img__description">Panneaux rénurés acoustiques en bois </p>

        <div class="card-image img-card" style="background-image:url(images/Decoustics/Solo.jpg)">
        </div>

        <div class="card-button">
          <a href="https://decoustics.com/products/solo/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Claro®</h4>
        <p class="img__description">Panneaux acoustiques en vinyl micro-perforé </p>

        <div class="card-image img-card" style="background-image:url(images/Decoustics/Claro.jpg)">
        </div>

        <div class="card-button">
          <a href="https://decoustics.com/products/claro/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Quadrillo®</h4>
        <p class="img__description">Panneaux acoustiques en bois perforé avec mousse acoustiques </p>

        <div class="card-image img-card" style="background-image:url(images/Decoustics/Quadrillo.jpg)">
        </div>

        <div class="card-button">
          <a href="https://decoustics.com/products/quadrillo/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Fabric</h4>
        <p class="img__description">Panneaux acoustiques recouverts de tissu résistant aux impacts </p>

        <div class="card-image img-card" style="background-image:url(images/Decoustics/Farbic.jpg)">
        </div>

        <div class="card-button">
          <a href="https://decoustics.com/products/fabric/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>
  </div>
</div>
