<div class="container text-center">

  <div class="entreprise-presentation">
    <img src="images/Kingsway/logo5.png" class="card-entreprise-logo">
    <p class="entreprise-description">Kingsway propose une gamme complète en matière de portes et accessoires anti-suicide & anti-vandalisme. L'innovation constante vous apporte les solutions et les produits les plus efficaces.
    Nos portes sont certifiées au feu (30 ou 60 minutes).
    </p>
  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Portes<i><h6> - sécurité</i></h6></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">Système anti-barricade</h4>
        <p class="img__description">Description de ces système anti barricade </p>

        <div class="card-image" style="background-image:url(images/Kingsway/anti-barricade.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/switch-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Porte sécurisée</h4>
        <p class="img__description">Ici description de la porte sécurisée</p>

        <div class="card-image" style="background-image:url(images/Kingsway/solo-single.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/solo-single-action-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Porte salle de bain</h4>
        <p class="img__description">Ici description de la porte SDB</p>

        <div class="card-image" style="background-image:url(images/Kingsway/shower-door.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/anti-ligature-shower-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Accessoires<i><h6> - anti-suicide</i></h6></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">Occulus</h4>
        <p class="img__description">Description de cet occulus </p>

        <div class="card-image" style="background-image:url(images/Kingsway/occulus.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/duralux-secure-privacy-vision-panel-405-405-mm/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Poignée et serrure</h4>
        <p class="img__description">Ici description des poignées et serrures</p>

        <div class="card-image" style="background-image:url(images/Kingsway/poignée-1400.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/hardware/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Divers</h4>
        <p class="img__description">Ici description de ce qu'il y a en divers...</p>

        <div class="card-image" style="background-image:url(images/Kingsway/crochet.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroupglobal.com/products/hardware/hooks-and-door-stops/?sc=11" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

  </div>

</div>
