<div class="container text-center">

  <div class="entreprise-presentation">
    <img src="images/Kingsway/logo5.png" class="card-entreprise-logo">
    <p class="entreprise-description">Kingsway propose une gamme complète en matière de portes et accessoires anti-suicide & anti-vandalisme. Notre constante innovation vous apportera les solutions et les produits les plus efficaces.
    Nos portes sont certifiées au feu (30 ou 60 minutes).
    </p>
  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Portes<i><h6> - sécurité</i></h6></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">Système anti-barricade</h4>
        <p class="img__description">Ce système permet d'intervenir dans la chambre même si la porte est barricadée ou la serrure endommagée </p>

        <div class="card-image" style="background-image:url(images/Kingsway/anti-barricade.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/swing-anti-barricade-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Porte sécurisée</h4>
        <p class="img__description">Ces portes bénéficient d'une très haute résistance au vandalisme et d'un design anti-suicide </p>

        <div class="card-image" style="background-image:url(images/Kingsway/solo-single.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/solo-single-action-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Porte salle de bain</h4>
        <p class="img__description">Ces portes bénéficient d'une haute résistance au vandalisme, d'un design anti-suicide et sont totalement waterproof</p>

        <div class="card-image" style="background-image:url(images/Kingsway/shower-door.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/anti-ligature-shower-doorset/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Accessoires<i><h6> - anti-suicide</i></h6></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">Occulus</h4>
        <p class="img__description">Permet une vision large, occultable uniquement par le personnel</p>

        <div class="card-image" style="background-image:url(images/Kingsway/occulus.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/vision-panels/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Poignée et serrure</h4>
        <p class="img__description">Bénéficient d'un design anti-suicide</p>

        <div class="card-image" style="background-image:url(images/Kingsway/poignee-1400.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/hardware/" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Divers</h4>
        <p class="img__description">Crochets, arrêts de portes et autres accessoires</p>

        <div class="card-image" style="background-image:url(images/Kingsway/crochet.jpg)">
        </div>

        <div class="card-button">
          <a href="https://www.kingswaygroup.co.uk/products/hardware/hooks-and-door-stops/?sc=11" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>

  </div>

</div>
