<div class="container text-center">


  <img src="images/Wallgate/Wallgate new logo.png" class="card-wallgate-logo">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6">

      <div class="card-wallgate">

          <h4 class="card-description">WC</h4>
        <p class="img__description">Là il y aura toutes une description sur ces toilettes</p>

        <div class="card-image" style="background-image:url(images/Wallgate/wc2.png)">
        </div>

        <div class="card-button">
          <%= link_to "Voir tous les modèles", "/wallgate.html", class: "btn btn-primary" %>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="card-wallgate">

        <h4 class="card-description">Lave-mains & sèche-mains</h4>
        <p class="img__description">Là il y aura toutes une description sur ces sèches mains</p>

        <div class="card-image" style="background-image:url(images/Wallgate/seche-mains.png)">
        </div>

        <div class="card-button">
          <%= link_to "Voir tous les modèles", "/wallgate.html", class: "btn btn-primary" %>
        </div>

      </div>

    </div>
  </div>
</div>
