<div class="container text-center">


  <div class="entreprise-presentation">
    <img src="images/Wallgate/wallgate-logo3.png" class="card-entreprise-logo">
    <p class="entreprise-description">Wallgate est un spécialiste de la conception et de la fabrication de sanitaires robustes, innovants et performants. Avec plus de 40 ans d’expérience, leurs capacités de fabrication sur mesure vous assurent une efficacité maximale.
    </p>
  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Grand public<i><h6> - collège, sanitaires publiques, écoles...</i></h6></h4>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4">

      <div class="card-entreprise">

          <h4 class="card-description">WC</h4>
        <p class="img__description">Notre gamme de WC est fabriquée en résine, matériau particulièrement résistant au vandalisme. Leur entretien aisé garanti un aspect pérenne pour plusieurs années. </p>

        <div class="card-image" style="background-image:url(images/Wallgate/wc2.png)">
        </div>

        <div class="card-button">
          <a href="https://www.wallgate.com/sectors/education/wcs--toilets" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="card-entreprise">

        <h4 class="card-description">Lave-mains & sèche-mains</h4>
        <p class="img__description">Notre gamme de lave-mains/sèche-mains est fabriquée en résine, matériau particulièrement résistant au vandalisme. Complètement automatisé: distribution savon, eau chaude et séchage par air pulsé. Leur entretien aisé garanti un aspect pérenne pour plusieurs années.</p>

        <div class="card-image" style="background-image:url(images/Wallgate/seche-mains.png)">
        </div>

        <div class="card-button">
          <a href="https://www.wallgate.com/sectors/education/hand-wash-dryers/thrii-range" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
        </div>

      </div>

    </div>
  </div>

  <h4 class="category"><i class="fas fa-arrow-circle-right"></i>  Sécurité <i><h6> - carcéral, psychiatrie...</i></h6></h4>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-4">

        <div class="card-entreprise">

            <h4 class="card-description">WC</h4>
          <p class="img__description">Notre gamme de WC est fabriquée en résine, matériau particulièrement résistant au vandalisme. Leur entretien aisé garanti un aspect pérenne pour plusieurs années. Design anti-suicide. Système de chasse sécurisé. </p>

          <div class="card-image" style="background-image:url(images/Wallgate/CWC-100.jpg)">
          </div>

          <div class="card-button">
            <a href="https://www.wallgate.com/sectors/healthcare/wcs--toilets" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="card-entreprise">

          <h4 class="card-description">Lavabos</h4>
          <p class="img__description">Notre gamme de lavabos est fabriquée en résine, matériau particulièrement résistant au vandalisme. Leur entretien aisé garanti un aspect pérenne pour plusieurs années. Design anti-suicide. Robinetterie sécurisée.</p>

          <div class="card-image" style="background-image:url(images/Wallgate/basin-200.jpg)">
          </div>

          <div class="card-button">
            <a href="https://www.wallgate.com/sectors/healthcare/wash-basins" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
          </div>

        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">

        <div class="card-entreprise">

            <h4 class="card-description">Douches</h4>
          <p class="img__description">Notre gamme de douche est réalisée en design anti-suicide. Robinetterie pilotée.</p>

          <div class="card-image" style="background-image:url(images/Wallgate/shower.jpg)">
          </div>

          <div class="card-button">
            <a href="https://www.wallgate.com/sectors/healthcare/showers--accessories" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">

        <div class="card-entreprise">

            <h4 class="card-description">Accessoires</h4>
          <p class="img__description">Des accessoires sont disponibles en design anti-suicide tels que miroirs, portes papier-toilette, étagères, barres PMR..</p>

          <div class="card-image" style="background-image:url(images/Wallgate/Anti-ligature-mirrors.jpg)">
          </div>

          <div class="card-button">
            <a href="https://www.wallgate.com/sectors/healthcare/washroom-accessories" target="_blank" class="btn btn-primary"><i class="fas fa-plus-circle"></i>  Plus d'infos</a>
          </div>

        </div>
      </div>

    </div>

</div>
